<%= form_for(@meeting) do |f| %>
  <%= render 'shared/error_messages', form_object: @meeting %>
  <div class = "col-xs-6">
  <div class = "row">
  <div class="field">
    <%= f.label :purpose, "Edit Purpose" %>
    <%= f.text_area :purpose, placeholder: "The purpose of this meeting is...", class: 'form-control'  %>
  </div>
  <div class = "field", id="building-select">
    <%= f.label :building, "Building" %>
    <%= f.select :building, options_for_select(getBuildingNames) %>
  </div>
  <div class = "field", id="other-building-select"></div>
  <div class = "field", id="room-select">
    <%= f.label :room, "Room"%>
    <%= f.select :room, options_for_select(@rooms) %>
  </div>
  <div class = "field", id="other-room-select"></div>
  <div class="field">
   <div class="field">
    <%= f.label :time, "Edit Meeting Time" %>
    <%= f.datetime_select :time, ampm: true, class: 'form-control'  %>
  </div>
  <%= f.submit "Update Meeting", class: "btn btn-primary" %>
  </div>
  </div>
<% end %>