<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <strong id="group-head">
                <%= group.name %>
            </strong>
        </h3>
    </div>
    <div class="panel-body">
        <strong>Details</strong>
        <%= link_to group, class: "btn btn-default" do %>
            <i class="glyphicon glyphicon-question-sign"></i>
        <% end %>
        <br>
        <strong>New Meeting</strong>
        <%= link_to new_meeting_path(:group_id => group.id), class: "btn btn-default" do %>
            <i class="glyphicon glyphicon-plus"></i>
        <% end %>
        <br>
        <% if group.user_id == current_user.id || current_user.admin %>
            <strong>Edit Group</strong>
            <%= link_to edit_group_path(group), class: "btn btn-default" do %>
                <i class="glyphicon glyphicon-pencil"></i>
            <% end %> 
        <% end %>
    </div>
</div>