<%= link_to new_meeting_path(:group_id => @group.id), class: "btn btn-default" do %>
    <i class="glyphicon glyphicon-plus"> New Meeting</i>
<% end %>

<% if @meetings %>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Purpose</th>
                <th>Building</th>
                <th>Room</th>
                <th>Time</th>
                <% if @group.user_id == current_user.id || current_user.admin %>
                    <th>Actions</th>
                <% end %>
            </tr>
        </thead>
        <tbody>
            <% @meetings.each do |meeting| %>
                <tr>
                    <td><%= meeting.purpose %></td>
                    <td><%= meeting.building %></td>
                    <td><%= meeting.room %></td>
                    <td><%= meeting.time.strftime("%m/%d/%y: %I:%M %p") %></td>
                    <% if @group.user_id == current_user.id || current_user.admin %>
                        <td>
                            <%= link_to edit_meeting_url(meeting,:group_id => @group.id, :meeting_id => meeting.id) do %>
                                <i class="glyphicon glyphicon-pencil"></i>
                            <% end %>
                            <%= link_to meeting_url(meeting,:group_id => @group.id, :meeting_id => meeting.id), method: :delete, data: { confirm: "You sure?" } do %>
                                <i class="glyphicon glyphicon-remove"></i>
                            <% end %>
                        </td>
                    <% end %>
                </tr>
            <% end %>
        </tbody>
    </table>
<% end %>