<% if @members %>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% @members.each do |user| %>
                <tr>
                    <td><%= user.first_name %></td>
                    <td><%= user.last_name %></td>
                    <td><%= user.email %></td>
                    <td>
                        <% if (user.id == @group.user_id) %>
                            Creator
                        <% else %>
                            Member
                        <% end %>
                    </td>
                    <td>
                        <% if @group.user_id == current_user.id || current_user.admin %>
                            <%= link_to removeUser_group_path(@group, :group_id => @group.id, :user_id => user.id), method: :post do %>
                        <i class="glyphicon glyphicon-remove"></i>
                    <% end %> 
                <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
<% end %>