<ul class="nav nav-tabs">
  <li class="active", id="description-tab"><%= link_to "Description", '#' , 'data-toggle':"tab" %></li>
  <li id="meetings-tab"><%= link_to "Meetings", '#' , 'data-toggle':"tab" %></li>
  <li id="members-tab"><%= link_to "Members", '#' , 'data-toggle':"tab" %></li>
</ul>

<br>

<div id="group-description">
  <%= render "description" %>
</div>

<div class="collapsable-section", id="meetings">
  <%= render "meetings" %>
</div>

<div class="collapsable-section", id="members">
  <%= render "members" %>
</div>