<%= form_for(@group) do |f| %>
    <%= render 'shared/error_messages', form_object: @group %>
    <div class = "col-xs-6">
    <div class = "row">
    <%= f.label :name, "Edit Group Name"%>
    <%= f.text_field :name, class: 'form-control' %>
    
    <%= f.label :description, "Edit Group Description" %>
    <%= f.text_area :description, class: 'form-control' %>
    
    <%= f.label :max_members, "Edit Maximum Group Size" %>
    <%= f.number_field :max_members, class: 'form-control' %>
    <br>
    </div>
    <div class = "row">
    <%= f.submit "Submit Changes", class: "btn btn-primary" %>
    </div>
    </div>
<% end %>