<h2>Search Results</h2>
<%= form_tag(result_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Groups" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>

<br>

<% if !@groups %>
    Your search returned no results.  
<% end %>

<%= render @groups %>
<% will_paginate @groups %>