<div class="page-header">
  <h1><%= @group.name %>
    <% if !userInGroup %>
        <%= button_to "Join Group", addUser_group_path(@group, :group_id => @group.id), :class => "btn btn-success" %>
    <% else %>
        <%= button_to "Leave Group", removeUser_group_path(@group, :group_id => @group.id, :user_id => current_user.id), :class => "btn btn-danger" %>
    <% end %>
    <% if @group.user_id == current_user.id || current_user.admin %>
      <%= link_to @group, method: :delete, class: "btn btn-default" do %>
        <i class="glyphicon glyphicon-remove">Delete</i>
      <% end %>
    <% end %>
  </h1>
</div>
 
<%= render 'nav' %>

