<a name="about"></a>
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Want to contribute?</h1>
                        <h3>Contact: syellin@purdue.edu</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</a>