@import "bootstrap-sprockets";
@import "bootstrap";

$purdue-gold: #B1810B;
$purdue-coal: #4D4038;
$purdue-black: #000000;
$purdue-moondust: #BAA892;

#logo {
  float: left;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

.navbar {
    background: white;
    margin-bottom: 0px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.registration-header {
    padding-top: 50px; 
    padding-bottom: 50px;
    position: relative;
    padding-top: 13%;
    padding-bottom: 20%;
    text-align: center;
    color: $purdue-moondust;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    background: image-url("sign-in-background.jpg") no-repeat center center;
    background-size: cover;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }
 
.btn-default {
  margin-top: 1%;
}