// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$purdue-gold: #B1810B;
$purdue-coal: #4D4038;
$purdue-black: #000000;
$purdue-moondust: #BAA892;


#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: $purdue-moondust;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: $purdue-black;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: $purdue-black;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
/*flash*/
.alert-error {
    margin-top: 0%;
    margin-bottom: 0%;
 }

.alert-alert {
    margin-top: 0%;
    margin-bottom: 0%;
 }

.alert-success {
    margin-top: 0%;
    margin-bottom: 0%;
 }

.alert-notice {
    margin-top: 0%;
    margin-bottom: 0%;
 }
 
.collapsable-section { 
    display: none; 
}

#group-well {
    margin-top: 1%;
}

.btn-default {
  margin-top: 1%;
}

#hamburger {
    box-sizing: border-box;
    display: block;
    width: 70px;
    height: 45px;
    position: fixed;
    top: 10px;
    right: 0;
    z-index: 4;
        color: black;
}
#hamburger:before,
#hamburger:after,
#hamburger span
{
    background: #000;
    content: '';
    display: block;
    width: 30px;
    height: 5px;
    position: absolute;
    left: 20px;
}
#hamburger:before
{
    top: 10px;
}
#hamburger span
{
    top: 20px;
}
#hamburger:after
{
    top: 30px;
}

/* Hamburger animation */
#hamburger:before,
#hamburger:after,
#hamburger span
{
    -webkit-transition: none 0.5s ease 0.5s;
    transition: none 0.5s ease 0.5s;

    -webkit-transition-property: transform, top, bottom, left, opacity;
    transition-property: transform, top, bottom, left, opacity;
}