<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <%= link_to "BoilerMeet", root_url,:class =>"navbar-brand topnav"%>
        </div>
        <% if user_signed_in? %>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li id="link-1">
                        <%= link_to "My Groups", groups_path%>
                    </li>
                    <li class = "head-link">
                        <%= link_to "Edit Profile", edit_user_registration_path %>
                    </li>
                    <li class = "head-link">
                        <%= link_to "Log Out", destroy_user_session_path, :method => :delete %>
                    </li>
                </ul>
            </div>
        <% end %>
    </div>
</nav>