<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <%= link_to "BoilerMeet", root_path %>
                </li>
                <li>
                    <%= link_to "Find Groups", search_path %>
                </li>
                <li>
                    <%= link_to "Create Group", new_group_path %>
                </li>
                
                <li>
                    <%= link_to "My Groups", groups_path %>
                </li>
                <li>
                    <%= link_to "Edit Account", edit_user_registration_path %>
                </li>
                <li>
                    <%= link_to "Log Out", destroy_user_session_path, :method => :delete %>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class = "row">
                            <%= render 'layouts/flashes' %>
                            <a id="hamburger" class="Fixed" href="#my-menu"><span></span></a>
                            <%= yield %>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>

</body>