<nav id="my-menu">
    <ul>
        <li class="Divider">Meeting Navigator</li>
        <% if @usergroups %>
            <% @usergroups.each do |group| %>
                <li>
                    <a><%= group.name %></a>
                    <ul>
                        <% group.meetings.each do |meeting| %> 
                            <li>
                                <a><%= meeting.purpose %></a>
                                <ul>
                                    <li class = "Divider">Building</li>
                                    <li><a><%= meeting.building %></a></li>
                                    <li class = "Divider">Room</li>
                                    <li><a><%= meeting.room %></a></li>
                                    <li class = "Divider">Time</li>
                                    <li><a><%= meeting.time.strftime("%m/%d/%y: %I:%M %p") %> </a></li>                                    
                                </ul>
                            </li>
                        <% end %>
                    </ul>
                </li>
            <% end %>
        <% end %>
    </ul>
</nav>