<!DOCTYPE html>
<html>
<head>
  <title>BoilerMeet</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= stylesheet_link_tag  'landing-page', media:'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  
  <%= render 'layouts/shim' %>
  <%= render 'layouts/header' %>
</head>
<body>
<%= yield %>

</body>
</html>
