<!DOCTYPE html>
<html>
<head>
  <title>BoilerMeet</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag  'groups', media:'all' %> 
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <%= render 'layouts/side' %>
</head>
<%= render 'layouts/slidenav' %>
</html>

